* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(205, 224, 245);
  }

  body {
    font-family: 'Outfit', sans-serif;
    color: #000000;
  }

  header {
    text-align: left;
    margin: 100px auto;
    font-size: 30px;
    max-width: 800px;
  }

  #typed-text {
    display: inline-block;
    border-right: 2px solid #383636;
    font-size: 20px;
    color: #383636
  }

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(217, 234, 252);
  }

  .navbar{
    position: relative;
    width: 100%;
    padding: 30px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    background-color: rgb(217, 234, 252);
  }

  .name a {
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    background-color: rgb(217, 234, 252);
  }

  .nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(217, 234, 252);
  }

  .nav-list li {
    margin-left: 15px;
  }
  
  .nav-list a {
    text-decoration: none;
    color: #333;
    padding: 8px 12px;
    transition: background-color 0.3s;
    background-color: rgb(217, 234, 252);
  }

  
